@import "~bootstrap/scss/bootstrap";

/* COLOR SCHEMES */
$--color-primary: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
$--color-secondary: #900048;
$--color-drk: #1a2639;
$--color-light: #eeeeee;

/* FONT-SIZES */
$--size-h1: 96px;
$--size-h2: 40px;
$--size-h3: 28px;
$--size-p1: 22px;
$--size-p2: 18px;
$--size-p3: 12px;

/* FONT-WEIGHTS */
$--bold: 600;
$--bolder: 900;

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

/* NAVIGATION BAR */
.navbar {
    background: $--color-primary;
}

.nav {
    font-size: $--size-p2;
}

/* HEADER */
h1 {
    text-align: center;
    font-family: 'indie flower';
    font-size: $--size-h1;
    font-weight: $--bolder;
    color: $--color-secondary;
}

h2 {
    font-size: $--size-p2;
    font-weight: bold;
    font-family: 'crafty girls';
    text-align: center;
    color: $--color-drk;
}

.main-logo {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 300px;
}

/* MAIN CAROUSEL */
.main-carousel {
    img {
        width: 100%;
        height: 500px;
    }
    p, h3 {
        color: $--color-drk;
        font-family: 'open-sans';
    }
    h3 {
        margin-bottom: 150px;
        font-weight: $--bolder;
        font-size: $--size-h3;

    }
    p {
        font-weight: $--bold;
        font-size: $--size-p2;
    }
}
