// COLOR SCHEMES -----------------------------------------
$--color-primary: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);
$--color-secondary: #900048;
$--color-drk: #1a2639;
$--color-light: #eeeeee;

// FONT-SIZES --------------------------------------------
$--size-h1: 72px;
$--size-h2: 60px;
$--size-h3: 40px;
$--size-p1: 22px;
$--size-p2: 18px;
$--size-p3: 12px;

// FONT-WEIGHTS ------------------------------------------- 
$--bold: 600;
$--bolder: 900;

// GLOBAL STYLES ------------------------------------------ 
* {
    box-sizing: border-box;
}

h3 {
    font-family: 'cabin';
}

//COMPONENTS -----------------------------------------------

// navigation bar
.main-nav {
    background: $--color-drk;
        .nav-link {
            color: $--color-light;
            font-size: $--size-p2;
            font-family: 'cabin';
            font-weight: $--bold;
        }
        .nav-link:hover {
            color: orange;
            }
}

// header
.main-header {
    h1 {
        text-align: center;
        font-family: 'crafty girls';
        font-size: $--size-h1;
        color: $--color-drk;
        }
    .main-logo {
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 300px;
    }
}

// main carousel
.main-carousel {
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    h3 {
        font-size: 36px;

    }
    p {
        font-size: $--size-p1;
    }
}
.carousel-one {
    h3, p {
        color: rgb(8, 87, 8);
        font-weight: $--bold;
        }
    }

.carousel-two {
    h3, p {
        color: $--color-secondary;
        font-weight: $--bold;
    }
}

.carousel-three {
    h3, p {
        color: rgb(71, 6, 71);
        font-weight: bold;
    }
}

// footer
.site-footer {
    background-color: $--color-drk;
    color: $--color-light;
    padding-top: 20px;
        a {
            color: $--color-light;
            text-decoration: none;
            font-family: 'cabin';
            font-size: $--size-p2;
        }
        a:hover {
            color: orange;
        }
        h5 {
            font-family: 'indie flower';
            font-weight: $--bold;
            font-size: 32px;
    }
}

.footer-notes {
    p {
        font-size: $--size-p3;
    }
}

// Not Found 
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(68,68,68);
    min-height: 88vh;
}

// COMPONENT MEDIA QUERIES --------------------------------------- 

// header queries 
@media screen and (max-width: 767px) {
    .main-header h1 {
        font-size: 55px;
    }
}

@media screen and (max-width: 647px) {
    .main-header h1 {
        font-size: $--size-h3;
    }
}

// PAGES ---------------------------------------------------------

// homepage
.image-collage {
    h2 {
        font-size: $--size-p1;
        text-align: center;
        margin-bottom: 45px;
        font-family: 'cabin';
    }
}

// aboutpage
.about-text {
    padding-top: 10px;
        h3 {
            font-weight: $--bold;
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            font-size: $--size-p2;
            padding: 0 70px;
        }
    }


.founder-text {
    margin-right: 95px;
    padding-top: 25px;
        h3 {
            text-align: center;
            font-weight: $--bold;
        }
        p{
            font-size: $--size-p2;
            padding: 0 30px;
        }
}

.founder-row {
    margin: 60px 0;
        .founder-image {
            margin-left: 95px;
        }
}

.about-accordion {
    padding: 70px 0
}

// contactpage
.contact-info {
    h2 {
        font-size: $--size-h2;
    }
}

.form-content {
    margin-bottom: 50px;
}

// PAGES MEDIA QUERIES 

// homepage media queries 
@media screen and (max-width: 1399px) {
    .image-three {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .image-two {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .image-one {
        display: block;
        margin: auto;
    }
}

// aboutpage media queries
@media screen and (max-width: 767px) {
    .about-teachers h3 {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .about-text p {
        padding: 0 200px
    }
    .about-image {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .about-text p {
        padding: 0 50px
    }
}

@media screen and (max-width: 991px) {
    .founder-row {
        .founder-image {
            display: block;
            margin: auto;
            width: 200px;
            height: 150px;
        }
    }
}

// shoppage media queries 
@media screen and (max-width: 991px) {
    .shop-nav {
        P {
            display: none;
        }
        .search {
            justify-content: center;
        }
    }
}

// contactpage media queries 
@media screen and (max-width: 958px) {
    .contact-info h2 {
        font-size: $--size-h3;
    }
}